<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="auth">
    <div class="auth_left">
      <div class="card">
        <div class="card-body">
          <h1 class="h5 mb-3 text-center">Verification Email Sent!</h1>
          <p class="h6 text-muted font-weight-normal mb-3 text-center">We have sent an email to {{ user.email }}. Please
            click on the link received to verify your email and create your account.</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>